# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
test-bounds*.js
test-bounds*.cjs

node_modules
.npmcache
.vercel
dist
dist-ssr
*.local
pnpm-lock.yaml
* 2.ts
* 2.tsx
public/genome_3d.png
public/privacy_cube.png
public/privacy_ring.png
public/privacy_sphere.png

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
